nav {
  background-color: #ff800f;
  color: white !important;
  width: -webkit-fill-available;
  text-transform: uppercase;
  font-weight: bolder;
}

span.material-icons {
  position: relative;
  justify-content: center;
  align-items: center;
  color: white !important;
  padding: 5px;
}

ul {
  position: relative;
  margin: auto;
}

form {
  position: relative;
  flex: auto;
  justify-content: flex-end;
}

.nav-link {
  color: white !important;
}

img {
  width: min-content;
}
