

.contenedorSettings{
    margin-top: 50px;
    margin-bottom: 90px;
    
}

.contenedorChangePass{
    margin-bottom: 90px;  
   
}

#inputs{
    height: 45px; 
    width:100%;
}

.inputs{
    margin-top: 25px;
    height: 45px; 
    width:100%;
}

#botonSubmit{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
