.Total{
    display: flex;
    justify-content: center;
    background: black;
}
.optionsContainer{
    padding: 300px;
}

.buttonContainer{
    margin:10px;
}
.buttons{
    display: grid;
    justify-content: center;
    position: relative;
 
}



.link{
    color: black;
}